$mainBgColor: #536DFE; //indygo A200
$fontColor: #ffffff;
$fontSize: 17px;
$checkBtnColor: #F44336; //red 500
$checkBtnHoverColor: #C62828; //red 800
$mainFont: 'Roboto', sans-serif;
$borderRadius: 5px;

body{
    background-color: $mainBgColor;
    font-family: $mainFont;
    font-size: $fontSize;
    color: $fontColor;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #header{
        text-align: center;
        
    }
    #input-area{
        .city-input{
            padding: 5px 10px;
            border-radius: $borderRadius;

        }
        .check-btn{
            border: none;
            background-color: $checkBtnColor;
            padding: 5px 10px;
            color: $fontColor;
            border-radius: $borderRadius;
        }
        .check-btn:hover{
            cursor: pointer;
            background-color: $checkBtnHoverColor
        }
        
    }
    #result-area{
        .result-description{
            font-weight: bold;
        }
    }
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}